<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Toolbar/Empty" />
<f:section name="main">
    <p>
        <f:translate key="toolbar.timezone.server" extensionName="oclock" />:
        <span  class="server-timezone">
            <f:format.date format="e">{date}</f:format.date>
        </span>
    </p>
    <p>
        <f:translate key="toolbar.time.server" extensionName="oclock" />:
        <span class="server-time"></span>
    </p>
    <hr />
    <p>
        <f:translate key="toolbar.timezone.browser" extensionName="oclock" />:
        <span class="browser-timezone"></span>
    </p>
    <p>
        <f:translate key="toolbar.time.browser" extensionName="oclock" />:
        <span class="browser-time"></span>
    </p>
    <hr />
    <p class="clearfix">
        <core:icon identifier="content-clock" size="small" />
        <f:translate key="toolbar.reminder" extensionName="oclock" />
        <span class="pull-right">
            <button class="btn btn-warning reminder-add"
                    title="{f:translate(key:'toolbar.reminder.add',extensionName:'oclock')}">
                <core:icon identifier="actions-add" size="small" />
            </button>
        </span>
    </p>
    <ul class="list-unstyled reminder-list">
        <f:for each="{reminders}" as="reminder">
            <li>
                <a class="reminder-edit"
                   data-reminder="{reminder.uid}"
                   data-edit-url="{be:moduleLink(route: 'oclock/reminder_show_edit_form', arguments: '{reminder: reminder.uid}')}"
                   title="{f:translate(key:'toolbar.reminder.edit',extensionName:'oclock')}">
                    {reminder.message}
                    <span class="pull-right">{reminder.datetime -> f:format.date(format:'d-m-Y H:i')}</span>
                </a>
            </li>
        </f:for>
        <li></li>
    </ul>
</f:section>
</html>
